/** Root Variables **/
:root {
  /** Colors **/
  --dominant-colour: #691a32;
  --primary-colour: #901a50;
  --primary-accent-colour: #f1cade;
  --secondary-colour: #124861;
  --secondary-accent-colour: #93dacc;
  --background-colour: #f9f0da;
  --background-accent: #ebd6a3;

  /** Borders **/
  --border-standard: 2px;
  --border-radius: 15px;

  /** Spacing **/
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));

  /** Fonts **/
  --font-unit: 1.2rem;
  --font-xxs: calc(0.25 * var(--font-unit));
  --font-xs: calc(0.5 * var(--font-unit));
  --font-sm: calc(0.70 * var(--font-unit));
  --font-md: calc(1.15 * var(--font-unit));
  --font-lg: calc(2 * var(--font-unit));
  --font-xxl: calc(4 * var(--font-unit));

  /** Font Family **/
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  /** Z-Index **/
  --navigation: 4;
  --foreground: 3;
  --midground: 2;
  --background: 1;
}

/** Typography **/
h2 {
  text-transform: uppercase;
  font-size: clamp(var(--font-md), 10vw, var(--font-lg));
  text-align: center;
}

.heading {
  text-transform: uppercase;
  font-size: clamp(var(--font-lg), 5vw, var(--font-xxl));
  text-align: left;
}

.body-text {
  text-transform: lowercase;
  font-size: clamp(var(--font-sm), 1.5vw, var(--font-md));
  text-align: left;
  line-height: var(--space-lg);
}

.small-icon {
  height: 1.2rem;
  width: 1.2rem;
  margin-left: 0.5rem;
}

/** Utility Classes **/
.stack {
  display: flex;
  flex-direction: column;
}

.stack > * + * {
  margin-top: var(--space-md);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.space-btwn {
  display: flex;
  justify-content: space-between;
}

.center {
  margin: auto;
  text-align: center;
}

.headspace {
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

.left {
  margin-right: auto;
  text-align: left;
}

.right {
  margin-left: auto;
  text-align: right;
}

.padding-sm {
  padding: var(--space-sm);
}

.padding-md {
  padding: var(--space-md);
}

.padding-lg {
  padding: var(--space-lg);
}

.padding-xl {
  padding: var(--space-xl);
}

.margin-md {
  margin: var(--space-sm);
}

/** Colors **/
.bg-dominant {
  background-color: var(--dominant-colour);
}

.bg-secondary {
  background-color: var(--secondary-colour);
}

.bg-secondary-accent {
  background-color: var(--secondary-accent-colour);
}

.bg-white {
  background-color: white;
}

.text-primary {
  color: var(--primary-colour);
}

.text-secondary {
  color: var(--secondary-colour);
}

.fill-accent {
  fill: var(--primary-accent-colour);
}

.fill-secondary {
  fill: var(--secondary-colour);
}

.fill-white {
  fill: white;
}

a:visited, a:link {
  color: inherit;
  border-color: inherit;
  text-decoration: none;
}



/** SVG Styling **/
svg {
  display: block;
  width: 100%;
  height: auto;
}

/** Adobe SVG Generated Styles **/
.st0 {
  fill: none;
  stroke: #231f20;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
