/** css rulesets that provide layout structure for the page */

/** general **/

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--background-colour);
  color: var(--dominant-colour);
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.services > .content__text { 
  max-width: 50%;
}

/** announcements **/
.announcement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
  z-index: var(--foreground);

  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}

/** navigation **/

.navigation {
  position: fixed;

  width: 50%;
  min-width: fit-content;
  max-width: 900px;
  top: 3rem;
  right: 3rem;

  z-index: var(--navigation);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: var(--space-sm);
  border-radius: 30px;
}

.navigation__container {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  gap: 1rem;
  justify-content: space-between;
}

@media all and (max-width: 600px) {
  .navigation {
    width: auto;
    top: 3rem;
    right: 1rem;
  }

  .navigation__container {
    display: none;
  }
}

.overlay {
  position: fixed;
  flex-direction: column;
  gap: var(--space-lg);
  font-size: var(--font-lg);
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--navigation);
}

.hidden {
  display: none;
}
/** im unsure why this ^^ only works in this one file **/

/** landing **/
.landing {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: var(--midground);
}

.landing__buttons {
  justify-content: space-between;
}

.landing__hero {
  z-index: var(--midground);
  height: 78vh;
}

.landing__scroll {
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  height: auto;
  padding: 1ch;
  z-index: var(--midground);
}

.landing__background {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: var(--background);
}

@media screen and (max-width: 600px) {
  .landing__background {
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}

/** about **/

.about {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding-right: 2%;
}

.about__image {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 50%;
  min-height: 300px;
  max-height: 600px;
  z-index: var(--background);
}

.about__content {
  margin-top: 10%;
  margin-bottom: auto;
  text-transform: capitalize;
  max-width: 50ch;
  z-index: var(--midground);
}

@media all and (max-width: 600px) {
  .about {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: var(--space-xl);
  }

  .about__image {
    max-width: 100%;
    position: relative;
    margin-top: -20%;
  }

  .about .about__content {
    padding: var(--space-lg);
    padding-top: var(--space-xl);
  }
}

/** service section **/
.services--default {
  /** redundant colouring **/
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  overflow: hidden;
}

.services--alternate {
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
}

@media all and (max-width: 600px) {
  .services--default,
  .services--alternate {
    padding: var(--space-lg);
  }

  .services--default {
    flex-direction: column-reverse;
  }
}

/** product list structure **/

.product__chefs-picks,
.product__quote {
  display: grid;
  background-color: white;
  padding-top: var(--space-lg);
  overflow: hidden;
}

.products__outer-scroll {
  scroll-behavior: smooth;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 350px;
  white-space: nowrap;
  scrollbar-width: none;
}

.products__scroll {
  display: flex;
  position: absolute;
  left: 0;
  gap: var(--space-md);
  padding: var(--space-sm);
  width: max-content;
}

.products__scroll .product {
  flex: 0 0 auto;
}

/** product page structures **/

.item__aside {
  width: 40%;
  aspect-ratio: 1 / 1;
  padding: var(--space-lg);
}

.item__thumbnail-wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  padding: var(--space-sm);
}

@media all and (max-width: 600px) {
  .item__aside {
    width: 100%;
  }
}

/** shop  structures **/

.shop {
  max-width: 1600px;
  margin: 0 auto;
}
.shop__header {
  margin: var(--space-xl);
  margin-bottom: 0;
}

@media all and (max-width: 600px) {
  .shop__header {
    margin: var(--space-lg);
  }
}

.shop__plist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
  margin: var(--space-xl);
  margin-top: var(--space-sm);
}

@media all and (max-width: 600px) {
  .shop__plist {
    margin: var(--space-md);
  }
}

@media all and (max-width: 900px) {
  .shop__plist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 600px) {
  .shop__plist {
    grid-template-columns: 1fr;
  }
}

/** dropdown **/ 

.dropdown {
  position: relative;
}

/** cart **/
.cart {
  position: fixed;
  top: 6rem;
  right: 3rem;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  padding: var(--space-md);
  z-index: var(--foreground);
}

.cart.visible {
  display: block; /* Ensure the cart becomes visible */
}


.cart h2 {
  text-align: center;
  margin-bottom: var(--space-sm);
}

.cart ul {
  list-style: none;
  padding: 0;
}

@media all and (max-width: 600px) {
  .cart {
    width: 100%;
    padding: var(--space-sm); 
  }

  .checkout__content {
    padding: var(--space-sm);
  }

  .cart-item {
    gap: var(--space-xs); 
    padding: var(--space-xs); 
  }

  img.cart-item-image {
    width: 80px; 
    height: 80px;
    margin: 0;
  }

  div.checkout__details {
    grid-template-columns: 1fr;
  }

  card.checkout__pickup {
    width: 80%;

  }
}

.remove-btn {
  background-color: transparent;
  text-transform: uppercase;
  color: var(--primary-colour);
  border: none;
  border-radius: var(--border-radius);
  padding: var(--space-xs);
  cursor: pointer;
}

.remove-btn:hover {
  color: var(--secondary-colour);
}
@media all and (max-width: 600px) {

  .remove-btn {
    font-size: var(--font-xs); 
    padding: var(--space-xxs); 
  }
}

/** checkout **/
.checkout {
  padding: var(--space-md);
}

.checkout__payment {
  padding: var(--space-xxs);
}

.checkout__content {
  min-height: 55vh;
}

.checkout__details {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-md); 
}

.checkout__info {
  display: grid;
  grid-template-columns: 2fr 1fr; 
}


@media all and (max-width: 600px) {
  .checkout__info {
    display: flex;
    flex-direction: column; 
    gap: var(--space-md);
  }

  .checkout__form {
    margin-bottom: var(--space-md); 
  }

  .pickup-details,
  .order-summary {
    align-items: center; 
    text-align: center; 
  }

  .pickup-details h2,
  .order-summary h3,
  .order-summary p {
    margin: var(--space-xs) 0; 
  }

  .cart-items-container {
    gap: var(--space-sm); /
  }
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-md);
}

.cart-item {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  padding: var(--space-sm);
  border-top: solid var(--border-standard);
  border-radius: 0;
  border-color: var(--background-accent);
}

.cart--preview.cart-item {
  border-top: none;
  text-align: center;
  font-size: var(--font-sm);
}

.cart--preview.cart-item-image {
  width: 60px;
  height: 60px;
  margin-right: 0;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.cart-item-image {
  width: 130px;
  height: 130px;
  margin-right:  var(--space-lg);
  object-fit: cover;
  border-radius: 15px;
}

.cart-item-details {
  flex: 1;

}

.cart-message {
  font-size: var(--font-sm);
  color: var(--secondary-colour);
  text-transform: none;
  padding: var(--space-xs);
}

.see-more {
  text-align: center;
  color: var(--secondary-colour);
  font-weight: bold;
  cursor: pointer;
  margin-top: var(--space-sm);
}

@media all and (max-width: 600px) {

  .cart-message {
    font-size: var(--font-xs); 
  }

  .see-more {
    font-size: var(--font-xs); 
  }
}


.form-group {
display: flex;
flex-direction: row;
}

.input--fit {
  width: 39%;
}

.pickup-details {
  background-color: var(--primary-accent-colour);
  padding: var(--space-lg);
  border-radius: 30px;
  margin: var(--space-lg);
}

.order-summary {
  background-color: white;
  padding: var(--space-lg);
  border-radius: 30px;
  margin: var(--space-lg);
}

.pickup-details,
.order-summary {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: var(--space-sm); /* Add spacing between items */
  margin-bottom: var(--space-md); /* Add spacing below each section */
}


/** locations **/

.store-locations {
  max-width: max-content;
  flex: 1;
}

.quote__content {
  display: grid;
  padding: var(--space-lg);
  text-align: center;
}

.locations__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--space-md);
}

@media all and (max-width: 600px) {
  .store-locations {
    width: 100%;
  }

  .location {
    flex: 0 0 100%;
  }

  .locations__list {
    grid-template-columns: 1fr;
  }
}

/** footer **/
.dfooter {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-accent-colour);
  padding-top: var(--space-xl);
}
