:root {
  /** COLOURS **/
  --dominant-colour: #691a32;
  --primary-colour: #901a50;
  --primary-accent-colour: #f1cade;

  --secondary-colour: #124861;
  --secondary-accent-colour: #93dacc;

  --background-colour: #f9f0da;
  --background-accent: #ebd6a3;

  --border-standard: 2px;

  /** space units **/
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));

  /** font units **/
  --font-unit: 1.2rem;
  --font-xxs: calc(0.25 * var(--font-unit));
  --font-xs: calc(0.5 * var(--font-unit));
  --font-md: calc(1.15 * var(--font-unit));
  --font-lg: calc(2 * var(--font-unit));
  --font-xxl: calc(4 * var(--font-unit));

  /** main font **/

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;

  /** z-index **/
  --navigation: 4;
  --foreground: 3;
  --midground: 2;
  --background: 1;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: var(--background-colour);
  /** main text colour **/
  color: var(--dominant-colour);
}

.standard-btn {
  display: block;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  background-color: white;

  border-style: solid;
  border-width: var(--border-standard);
  border-radius: 60rem;
  border-color: var(--dominant-colour);
  color: var(--dominant-colour);
}

.standard-btn--alternate {
  border-style: none;
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
}

.navigation {
  position: fixed;
  padding: 5 5 auto auto;

  width: 50%;
  min-width: fit-content;
  max-width: 900px;
  top: 3rem;
  right: 3rem;

  z-index: var(--navigation);
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: var(--space-sm);
  border-radius: 30px;
}

.navigation__container {
  padding-left: var(--space-lg);
  padding-right: var(--space-lg);
  gap: 1rem;
  justify-content: space-between;
}

.overlay {
  position: fixed;
  flex-direction: column;
  gap: var(--space-lg);
  font-size: var(--font-lg);
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--navigation);
}

.hidden {
  display: none;
}

.hamburger {
  z-index: var(--navigation);
  display: none;
  border: none;
}

@media all and (max-width: 600px) {
  .hamburger {
    display: block;
  }

  .navigation {
    width: auto;
    top: 3rem;
    right: 1rem;
  }

  .navigation__container a {
    display: none;
  }
}

.announcement {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
  z-index: var(--foreground);

  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}

.announcement > p {
  margin: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: var(--midground);
}

.landing__buttons {
  justify-content: space-between;
}

.landing__hero {
  z-index: var(--midground);
  height: 78vh;
}

.landing__hero > .cluster {
  align-items: flex-end;
  z-index: var(--midground);
}

.landing__hero > .cluster > img {
  max-height: 150px;
  min-height: 105px;
  height: 15vw;
  padding: 2vh;
  z-index: var(--midground);
}

.landing__text {
  z-index: var(--midground);
  height: 90%;
  text-align: right;
  align-content: end;
  font-size: var(--font-lg);
  padding-bottom: var(--space-xl);
  color: white;
  text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.48);
}

@media all and (max-width: 600px) {
  .landing__hero > .cluster {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .landing .logo  {
    display: none;
  }

  .landing__text {
    font-size: var(--font-md);
    margin: auto;
    padding-bottom: var(--space-xl);
  }
}

.landing__scroll {
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  height: auto;
  padding: 1ch;
  z-index: var(--midground);
}



.about {
  display: flex;
  flex-direction: row;
  gap: 2%;
  padding-right: 2%;
}

.about__image {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 50%;
  min-height: 300px;
  max-height: 600px;
  z-index: var(--background);
}

#con-amore {
  max-width: 100%;
  min-width: auto;
  margin-left: -15%;
  margin-bottom: 20%;
  object-fit: cover;
  max-height: 100%;
}

#mud-cake {
  width: 55%;
  min-width: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  object-fit: cover;
}

#mud-cake--quote {
  max-width: 100%;
  min-width: auto;
  margin-left: -25%;
  margin-bottom: 20%;
  object-fit: cover;
  max-height: 100%;
}

#con-amore--quote {
  max-width: 100%;
  min-width: auto;
  margin-right: -25%;
  margin-bottom: 20%;
  object-fit: cover;
  max-height: 100%;
}

.about__content {
  margin-top: 10%;
  margin-bottom: auto;
  text-transform: capitalize;
  max-width: 50ch;
  z-index: var(--midground);
}

@media all and (max-width: 600px) {
  .about {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: var(--space-xl);
  }

  .about__image {
    max-width: 100%;
    position: relative;
    margin-top: -20%;
  }

  #mud-cake {
    position: absolute;
    margin-right: -35%;
    top: 40%;
    width: 90%;
  }

  #con-amore {
    margin-left: -30%;
  }

  .about .about__content {
    padding: var(--space-lg);
    padding-top: var(--space-xl);
  }
}

svg {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.flower-container {
  position: relative; 
  overflow: hidden; 
  width: 100%; 
  height: auto;
  margin-bottom: -1px;
}

@media screen and (max-width: 600px) {
  .flower {
    width: 350%;
    margin-left: -8%;
  }
}

svg.fill-secondary  {
  transform: rotate(180deg);
  margin-top: -1px;
}


.landing__background {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: var(--background);
}


#flower-frame {
  position: absolute;
  width: auto; 
  height: 160%; 
  top: -30vh;
  right: -20vh; 
  z-index: var(--background);
}

.flower-image {
  x: -85%;
  y:  260; 
  width: auto; 
  height: 95%; 
}

@media screen and (max-width: 600px) {

  .landing__background {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  #flower-frame {
    position: absolute;
    width: auto;
    height: 125%; 
    top: -25vh;
    right: calc(100vw * -0.56);

}

.flower-image {
  x: -77%;
  y: -30%;  
  width: 170%; 
  height: 170%;
}

  }


.product__chefs-picks, .product__quote {
  display: grid;
  background-color: white;
  padding-top: var(--space-lg);
   overflow: hidden;
}
.products__scroll {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: var(--space-md);
  padding: var(--space-sm);
}

.product {
  flex: 0 0 auto;
  text-align: center;
}

.product img {
  aspect-ratio: 1.36 / 1;
  height: auto;
  width: 100%;
  border-radius: 15px;
  margin-bottom: var(--space-xs);
  object-fit: cover;
}


.products__scroll img {
  border: solid;
  border-width: var(--border-standard);
}

@media all and (max-width: 600px) {
  .product img {
    width: 100%;
    max-width: 90vw;
    height: 100%;
  }
}

.content-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

@media all and (max-width: 600px) {
  .content-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper card,
  .content-wrapper aside {
    flex: 1;
    text-align: center;
  }

  .content-wrapper aside img {
    width: 100%;
    height: auto;
  }
}

@media all and (max-width: 600px) {
  .two-column-list dt,
  .two-column-list dd {
    flex: 0 0 100%; /* Each item takes up the full width */
  }
}

.services--default {
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
}

.services--alternate {
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
}

#services-img.image-wrapper {
  min-width: 350px;
  max-width: 45%;
  max-height: 70vh;
}

#product-img.image-wrapper {
  max-width: 100%;
  height: 50%;
  width: 100%;

}

.item__aside {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.item__thumbnail-wrapper { 
  display: flex;
  flex-direction: row;
  gap: var(--space-sm);
  padding: var(--space-sm);
}

.image-wrapper.item__thumbnail {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 15px;
}

#item__image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

#item__image > img {
  object-fit: contain;
}

@media all and (max-width: 600px) {
  .item__aside {
    width: 100%;
  }

  .item__thumbnail-wrapper {
    position: relative;
    align-items: center;
  }

  .image-wrapper.item__thumbnail {
    width: 30%;
    margin-bottom: var(--space-sm);
  }
  
}

.image-wrapper {
  display: flex;
  overflow: hidden; 
  border-radius: 30px;
}

.image-wrapper > img {
  object-fit: contain; 
  object-position: center;
}


.content__text {
  max-width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.store-locations {
  max-width: 70%;
  flex: 1;
}

.locations__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: var(--space-md);
}

.location {
  box-sizing: border-box;
  padding: var(--space-sm);
  color: var(--primary-colour);
  width: 50%;
}

.location__image {
  flex: 0 0 20%;
  text-align: center;
}

.location__image img {
  width: 100%;
  height: auto;
  max-width: 150px;
}

@media all and (max-width: 600px) {
  .location__image {
    flex: 0 0 auto;
    margin-bottom: var(--space-md);
  }

  .store-locations {
    width: 100%;
  }
}

.location h3 {
  margin-bottom: var(--space-xs);
  color: var(--dominant-colour);
}

.location p {
  margin: 0;
}

@media all and (max-width: 600px) {
  .location {
    flex: 0 0 100%; /* Take up 100% of the width on smaller screens */
  }
}

.dfooter {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-accent-colour);
  padding-top: var(--space-xl);
}

.dfooter__input {
  width: 30vw;
}

.dfooter__links {
  display: flex;
  background-color: white;
  border-style: solid none solid none;
  border-top-color: var(--dominant-colour);
  border-width: var(--border-standard);
  padding-top: 0.4%;
  padding-bottom: 0.%;
  justify-content: space-around;
}

.shop__plist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-md);
  margin: var(--space-xl);
}

@media all and (max-width: 600px) {
  .shop__plist {
    margin: var(--space-md);
  }
}

.shop__filters {
  margin: var(--space-sm);
  padding: var(--space-sm);
}
.shop__filters fieldset {
  border: none;
  display: flex;
  flex-direction: row;
  margin: var(--space-sm);
  gap: var(--space-sm);
}

.shop__filters label {
  display: block;
  margin: var(--space-sm) 0;
  font-size: var(--font-sm);
  color: var(--dominant-colour);
  background-color: white;
  padding: var(--space-sm);
  border: solid var(--border-standard);
  border-radius: 30px;
}

.shop__filters input[type="checkbox"]:checked + label {
  background-color: var(--primary-accent-colour);
  color: var(--primary-colour);
}

.shop__filters label:hover {
  background-color: var(--primary-accent-colour);
  color: var(--primary-colour) ;
  cursor: pointer;
}

.shop__filters button {
  display: block;
  width: 15rem;
  padding: var(--space-sm);
  background-color: var(--secondary-colour);
  margin: var(--space-md);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}


#clear-filters {
  background-color: white;
  color: var(--primary-colour);
  border: solid  var(--border-standard) var(--dominant-colour);
  border-radius: 30px;
  cursor: pointer;
}

#clear-filters:hover {
  background-color: var(--dominant-colour);
}


.product {
  height: min-content;
  text-align: center;
  margin: var(--space-xxs);
  border-radius: 8px;
}

#load-more {
  margin: var(--space-md) auto;
  display: block;
}

.product h3 {
  margin: var(--space-xs) 0;
  font-size: var(--font-md);
  color: var(--dominant-colour);
}

.product p {
  margin: 0;
  font-size: var(--font-sm);
  color: var(--secondary-colour);
}

@media all and (max-width: 900px) {
  .shop__plist {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 600px) {
  .shop__plist {
    grid-template-columns: 1fr;
  }
}


.info-box {
  max-width: 80%;
  min-width: 300px;
  border: var(--border-standard) solid var(--dominant-colour);
  border-radius: 15px;
  background-color: var(--background-colour);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

/* Tabs (headings) */
.info-box__tabs {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-accent);
  border-bottom: var(--border-standard) solid var(--dominant-colour);
}

.info-box__tab {
  flex: 1;
  padding: var(--space-md);
  text-align: center;
  font-size: var(--font-md);
  font-weight: bold;
  color: var(--dominant-colour);
  border: none;
  cursor: pointer;
}

.info-box__tab:hover {
  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}

.info-box__tab.active {
  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}


.info-box__content {
  padding: var(--space-lg)  ;
  background-color: white;
}

.info-box__section {
  display: none;
}

.info-box__section.active {
  display: block;
}

/** common tools **/

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space-md);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

.center {
  box-sizing: content-box;
  margin: auto;
  text-align: center;
}

.left {
  box-sizing: content-box;
  margin-left: auto;
}

.right {
  box-sizing: content-box;
  margin-right: auto;
}

.padding-sm {
  padding: var(--space-sm);
}

.padding-md {
  padding: var(--space-md);
}

.padding-lg {
  padding: var(--space-lg);
}

.margin-md {
  margin: var(--space-sm);
}

h2 {
  text-transform: uppercase;
  font-size: clamp(var(--font-md), 10vw, var(--font-lg));
  text-align: center;
}

.body-text {
  text-transform:lowercase;
  text-wrap: normal;
  font-size: clamp(var(--font-sm), 1.5vw, var(--font-md));
  text-align: left;
  line-height: var(--space-lg);
}

  /** colours **/

  .bg-dominant {
    background-color: var(--dominant-colour);
  }
  
  .bg-secondary {
    background-color: var(--secondary-colour);
  }

  .bg-white {
    background-color: white;
  }
  
  .text-primary {
    color: var(--primary-colour);
  }
  
  .text-secondary {
    color: var(--secondary-colour);
  }
  
  .fill-accent {
    fill: var(--primary-accent-colour);
  }

  .fill-secondary {
    fill: var(--secondary-colour);
  }

  .fill-white {
    fill: white;
  }
