:root {
  /** COLOURS **/
  --dominant-colour: #691a32;
  --primary-colour: #901a50;
  --primary-accent-colour: #f1cade;

  --secondary-colour: #124861;
  --secondary-accent-colour: #93dacc;

  --background-colour: #f9f0da;
  --background-accent: #ebd6a3;

  --border-standard: 0.15rem;

  /** space units **/
  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));

  /** font units **/
  --font-unit: 16pt;
  --font-xxs: calc(0.25 * var(--font-unit));
  --font-xs: calc(0.5 * var(--font-unit));
  --font-md: calc(1.25 * var(--font-unit));
  --font-lg: calc(2 * var(--font-unit));
  --font-xl: calc(4 * var(--font-unit));

  /** main font **/

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}


body {
  background-color: var(--background-colour);

  /** main text colour **/
  color: var(--dominant-colour);
}

.standard-btn {
  display: block;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  background-color: white;

  border-style: solid;
  border-width: var(--border-standard);
  border-radius: 60rem;
}

.standard-btn--alternate {
  border-style: none;
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
}

.nav-main {
  display: block;
  background-color: white;
  position: absolute;
  top: 3rem;
  right: 2rem;
  padding: 1%;
  border-radius: 30px;
}

.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);

  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}

.announcement > p {
  margin: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: hidden;
}

.landing__hero {
  height: 78vh;
  padding: var(--space-lg);
}

.landing__hero > .cluster {
  align-items: flex-end;
}

.landing__hero > .cluster > img {
  max-height: 150px;
  min-height: 105px;
  max-width:50%;
  height: 15vw;
  padding: 2vh;
}

.landing__text {
  height: 90%;
  text-align: right;
  align-content: end;
  text-transform: uppercase;
  font-size: var(--font-lg);
}

@media all and (max-width: 600px) {
  .landing__text {
    font-size: var(--font-md);
    margin: auto;
  }

  .landing__hero .cluster {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .landing__hero > .cluster > img {
    height: 20vw;
    padding: 2vh;
  }
}

.landing__scroll {
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  height: auto;
  padding: 1ch;
}

.about, .shop {
  height: 100vh;
}


.flower--primary {
  fill: white;
  margin-bottom: -1px;
  /**   this margin-top needs to be fixed**/
}

.flower--flipped {
  fill: var(--secondary-colour);
  transform: rotate(180deg);
  margin-top: -1px;
  /**   this margin-top needs to be fixed**/
}

.flower--accent {
  fill: var(--primary-accent-colour);
}

.products, .quote {
  display: grid;
  padding: 3vh 5vh 3vh 5vh;
  background-color: white;
}

.services {
  display: flex;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  padding: var(--space-xl);
}

.services--alternate {
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
  padding: var(--space-xl);
}

.locations {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.dfooter {
  display: grid;
  background-color: var(--primary-accent-colour);
  height: 10vh;
  padding-top: var(--space-xl);
}

.dfooter__links {
  background-color: white;
  border-style: solid none solid none;
  border-top-color: var(--dominant-colour);
  border-width: var(--border-standard);
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}

/** common tools **/

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space-md);
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
}

.left {
  box-sizing: content-box;
  margin-left: auto;
}

.right {
  box-sizing: content-box;
  margin-right: auto;
}