:root {
  /** COLOURS **/
  --dominant-colour: #691a32;
  --primary-colour: #901a50;
  --primary-accent-colour: #f1cade;

  --secondary-colour: #124861;
  --secondary-accent-colour: #93dacc;

  --background-colour: #f9f0da;
  --background-accent: #ebd6a3;

  --border-standard: 0.15rem;


}

* {
  margin: 0;
}

body {
  background-color: var(--background-colour);

  /** main text colour **/
  color: var(--dominant-colour);
}

.standard-btn {
  display: block;
  padding: 1rem;
  width: 15rem;
  text-align: center;
  background-color: white;

  border-style: solid;
  border-width: var(--border-standard);
  border-radius: 60rem;
}

.standard-btn--alternate {
  border-style: none;
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
}


.nav-main {

  display: block;
  background-color: white;
  position: absolute;
  top: 3rem;
  right: 2rem;
  padding: 1%;
  border-radius: 30px;

}

.announcement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}

.announcement > p {
  margin: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  height: auto;
}

.landing__hero {
  height: 85vh;
}

.landing__scroll {
  flex-direction: row;
  justify-content: space-around;

  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  height: auto;
  padding: 1vh;
}

.about {
  height: 100vh;
}

.flower--primary {
  fill: white;
  margin-bottom: -1rem;
  /**   this margin-top needs to be fixed**/
}

.flower--flipped {
  fill: var(--secondary-colour);
  transform: rotate(180deg);
  margin-top: -1px;
  /**   this margin-top needs to be fixed**/
}

.flower--accent {
  fill: var(--primary-accent-colour);
}

.products {
  display: grid;
  padding: 3vh 5vh 3vh 5vh;
  background-color: white;
}

.products__heading {
  justify-content: center;
}

.services {
  display: grid;
  background-color: var(--secondary-accent-colour);
  color: var(--secondary-colour);
  padding: 5vh;
}

.services--alternate {
  background-color: var(--secondary-colour);
  color: var(--secondary-accent-colour);
  padding: 5vh;
}

.locations {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.dfooter {
  display: grid;
  background-color: var(--primary-accent-colour);
  height: 10vh;
  padding-top: 5vh;
}

.dfooter__links {
  background-color: white;
  border-style: solid none solid none;
  border-top-color: var(--dominant-colour);
  border-width: var(--border-standard);
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}

.dfooter__credit {
  display: flex;
  align-items: center;
  width: 100%;
  height: 25px;
  padding-top: 0.2%;
  padding-bottom: 0.2%;

  background-color: var(--dominant-colour);
  color: var(--primary-accent-colour);
}
